/*Estilos de Barra menu y segunda seccion*/

* {
 font-family: 'Source Sans Pro', sans-serif;
}

body {
 margin: 0;
 padding: 0;
 background: rgb(0, 121, 191);
}


header {
 position: fixed;
 width: 100%;
 height: 8%;
 top: 0;
 background: rgb(0, 103, 162);
}

header > img {
 display: inline-block;
 margin-left: 30%;
 margin-top: .8%;
 width: 6%;
 height: 45%;
 opacity: .6;
}

img:hover {
 cursor: pointer;
 opacity: none;
}

header > .table {
 float: left;
 margin-left: .5%;
 margin-top: .5%;
 width: 6%;
 padding: .5%;
 border-radius: 5%;
 background-color: rgb(255, 255, 255);
 opacity: .4;
}

.table:hover {
 color: rgb(255, 255, 255);
 cursor: pointer;
}

header > .searcher {
 display: inline;
 float: left;
 margin-left: .5%;
 margin-top: .5%;
 width: 15%;
 padding: .5%;
 border-radius: 5%;
 background-color: rgb(255, 255, 255);
 opacity: .4;
}

.searcher:hover {
 color: rgb(255, 255, 255);
 cursor: pointer;
}


header > .user {
  float: right;
  margin-right: .5%;
  margin-top: .65%;
  padding: .5%;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  opacity: .4;
}

.user:hover {
  cursor: pointer;
}

header > .bell {
  display: inline;
  float: right;
  margin-right: .5%;
  margin-top: .65%;
  padding: .5%;
  border-radius: 5%;
  background-color: rgb(255, 255, 255);
  opacity: .4;
}

.bell:hover {
  cursor: pointer;
}

header > .info-circle {
  display: inline;
  float: right;
  margin-right: .5%;
  margin-top: .65%;
  padding: .5%;
  border-radius: 5%;
  background-color: rgb(255, 255, 255);
  opacity: .4;
}

.info-circle:hover {
  cursor: pointer;
}

header > .plus {
  display: inline;
  float: right;
  margin-right: .5%;
  margin-top: .65%;
  padding: .5%;
  border-radius: 5%;
  background-color: rgb(255, 255, 255);
  opacity: .4;
}

.plus:hover {
  cursor: pointer;
}

h3 {
  margin-left: .5%;
  margin-top: .5%;
  font-size: 115%;
  color: rgb(255, 255, 255);
}

button {
  border-bottom: none;
  background: none;
  border-style: none;
}

.fa-star-o:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.fa-lock {
    cursor: pointer;
    color: rgb(255, 255, 255);
}



/*Estilos al main (Contenido principal)*/
main {
  padding: 57px 8px 10px;
}

/*Estilos a seccion correpondiente al formulario*/
.form{
    display: inline-block;
    background: #fff;
    width: 280px;
    height: 110px;
    background-color: #e2e4e6;
    border-radius: 3px;
    margin: 10px;
}

/*Estilo al boton Input del  formulario*/
.form input{
    box-shadow: rgba(0,0,0,.15) 0px 1px 8px inset;
    background: rgba(0,0,0,.05);
    margin: 10px  10px ;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 1em;
    display: block;
    width: 240px;
}

#main-list {
    width: 270px;
    height: 20px;
    margin: 10px;
    border-radius: 3px;
    background-color: #006aa7;
    color: #9dc7df;
    padding: 10px;
    font-size: 14px;
    //float: right;
}

#main-list:hover {
    background-color: rgba(25, 27, 25, 0.5);
}

.lista {
    width: 290px;
    background-color: #e2e4e6;
    border-radius: 3px;
    margin: 10px;
    margin-right: 0px;
    float: left;
}

.taskName {
    width: 260px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #959595;
    margin: 5px;
    padding: 10px;
    box-shadow: inset 0 1px 8px rgba(0, 0, 0, .15);
    float: left;
}

.saveBtn {
    width: 82px;
    height: 32px;
    background-color: #5aac44;
    margin: 5px 10px;
    border-radius: 3px;
    border-style: none;
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.saveBtn:hover {
    background: #4d9439;
}

.title {
    font-weight: 700;
    font-size: 14px;
    margin: 9px;
}

.task{
    background-color: #d8dcdd;
    width: 250px;
    height: 25px;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin: 5px 5px;
    margin-bottom: 1px;
    font-size: 14px;
    color: #4d4d4d;
}

.task:hover {
    background-color: #d8dcde;
    width: 250px;
    text-decoration: underline #727487;
    color: #2c2f2f;
}



.taskForm {
    width: 200px;
}

.taskSave {
    width: 76px;
    height: 30px;
    background-color: #5aac44;
    margin: 0 3px 7px 7px;
    border-radius: 3px;
    border-style: none;
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.taskSave:hover {
    background: #4d9439;
}
