* {
 font-family: 'Source Sans Pro', sans-serif;
}

body {
 margin: 0;
 padding: 0;
 background: rgb(0, 121, 191);
}

header {
 position: fixed;
 width: 100%;
 height: 8%;
 top: 0;
 background: rgb(0, 103, 162);
}

header > img {
 display: inline-block;
 margin-left: 30%;
 margin-top: .8%;
 width: 6%;
 height: 45%;
 opacity: .6;
}

img:hover {
 cursor: pointer;
 opacity: none;
}

header > .table {
 float: left;
 margin-left: .5%;
 margin-top: .5%;
 width: 6%;
 padding: .5%;
 border-radius: 5%;
 background-color: rgb(255, 255, 255);
 opacity: .4;
}

.table:hover {
 color: rgb(255, 255, 255);
 cursor: pointer;
}

header > .searcher {
 display: inline;
 float: left;
 margin-left: .5%;
 margin-top: .5%;
 width: 15%;
 padding: .5%;
 border-radius: 5%;
 background-color: rgb(255, 255, 255);
 opacity: .4;
}

.searcher:hover {
 color: rgb(255, 255, 255);
 cursor: pointer;
}


header > .user {
  float: right;
  margin-right: .5%;
  margin-top: .65%;
  padding: .5%;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  opacity: .4;
}

.user:hover {
  cursor: pointer;
}

header > .bell {
  display: inline;
  float: right;
  margin-right: .5%;
  margin-top: .65%;
  padding: .5%;
  border-radius: 5%;
  background-color: rgb(255, 255, 255);
  opacity: .4;
}

.bell:hover {
  cursor: pointer;
}

header > .info-circle {
  display: inline;
  float: right;
  margin-right: .5%;
  margin-top: .65%;
  padding: .5%;
  border-radius: 5%;
  background-color: rgb(255, 255, 255);
  opacity: .4;
}

.info-circle:hover {
  cursor: pointer;
}

header > .plus {
  display: inline;
  float: right;
  margin-right: .5%;
  margin-top: .65%;
  padding: .5%;
  border-radius: 5%;
  background-color: rgb(255, 255, 255);
  opacity: .4;
}

.plus:hover {
  cursor: pointer;
}

h3 {
  margin-left: .5%;
  margin-top: .5%;
  font-size: 115%;
  color: rgb(255, 255, 255);
}

button {
  border-bottom: none;
  background: none;
  border-style: none;
}

.fa-star-o:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.fa-lock {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

/*Estilos al main*/

main {
  padding: 57px 8px 10px;
}

/*Estilos a seccion correpondiente al formulario*/

.add-list {
  background: #E2E4E6;
	height: 100%;
  margin: 10px  5px;
  width: 270px;
	vertical-align: top;
  display: inline-block;
  border-radius: 5px;
}

.list {
  padding: 10px 14px;
  background-color: #0067A3;
  width: 100%;
  text-align: left;
}

.list:hover{
	background-color:#005485;
}

.form {
	background-color: #E2E4E6;
  display: inline-block;
	padding: 6px;
	border-radius: 5px;
	vertical-align: top;
  margin-right: 21px;
	width: 270px;
}

.button {
  margin-top: 7px;
  background-color: #5EB64B;
  padding: 6px 20px;
  border-radius: 2px;
  font-weight: bold;
}

.button:hover {
	background-color: #549F3D;
}

.list, .button {
	border: none;
	color: white;
	font-size: 1em;
	border-radius: 5px;
}

.none{
	display: none;
}

.form input{
  box-shadow: rgba(0,0,0,.15) 0px 1px 8px inset;
  background: rgba(0,0,0,.05);
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  font-size: 1em;
  display: block;
  width: 240px;
}

.linkTask{
  margin: 10px 10px;
}

.newtask {
  display: block;
  margin: 0 auto;
  width: 250px;
  resize: none;
  height: 40px;
  border-radius: 5px;
  border: none;
}

.bt {
  padding: 8px 12px;
  font-weight: 700;
}

.bt-1 {
  padding: 8px 12px;
  font-weight: 700;
  margin: 20px 10px;
  background: #FFFFFF;
  margin: 8px;
  border-radius: 5px;
  font-weight: 500;
  }

  .second {
    margin-left: 8px;
  }
